.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.clild-carousel span {
  color: white;
  opacity: 0;
  display: none
}

.clild-carousel:hover {
  transform: scale(1.1);
  z-index: 1000;
}

.clild-carousel:hover img {
  opacity: 0.3;
}

.clild-carousel:hover span {
  opacity: 1;
  color: black;
  padding: 20px;
  display: block;
}

.main-carousel:hover h2 {
  opacity: 1;
  color: #1976d2;
  display: block;
  font-style: italic;
}

.main-carousel:hover img {
  opacity: 0.6;
}